
services:
  app:
    build:
      context: .
      args:
        - DEV=true
    ports:
      - "8000:8000" # Expose the app port to the host
    volumes:
      - ./app:/app
      - dev-static-data:/vol/web
    command: >
      sh -c "python manage.py wait_for_db &&
        python manage.py migrate &&
        python manage.py runserver 0.0.0.0:8000"
    environment:
      - DB_HOST=db       # Use the service name for inter-container communication
      - DB_NAME=devdb
      - DB_USER=devuser
      - DB_PASS=changeme
      - DEBUG=1
    depends_on: 
      - db

  db:
    image: postgres:17.2-alpine3.21
    ports:
      - "5433:5432" # Expose the database port to the host
    volumes:
      - dev-db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=devdb
      - POSTGRES_USER=devuser
      - POSTGRES_PASSWORD=changeme

volumes:
  dev-db-data:
  dev-static-data:
