
annotated-types==0.7.0
appnope 
asgiref 
asttokens 
comm 
contextlib2==21.6.0
debugpy 
decorator 
Django 
django-countries
django-ninja==1.4.3
django-ninja-extra==0.30.1
et_xmlfile==2.0.0
exceptiongroup 
executing 
importlib_metadata 
injector==0.22.0
ipykernel 
ipython 
ipython_pygments_lexers 
jedi 
jupyter_client 
jupyter_core 
matplotlib-inline 
nest_asyncio 
numpy==2.3.2
openpyxl==3.1.5
packaging 
pandas==2.3.2
parso 
pillow>=11.1.0,<11.2
psycopg2>=2.9.10,<2.10
pexpect 
pickleshare 
platformdirs 
prompt_toolkit 
psutil 
ptyprocess 
pure_eval 
pydantic==2.11.7
pydantic_core==2.33.2
Pygments 
python-dateutil 
pytz==2025.2
pyzmq 
six 
SQLAlchemy==2.0.43
sqlparse 
stack_data 
tornado 
traitlets 
typing-inspection==0.4.1
typing_extensions 
tzdata==2025.2
uwsgi>=2.0.28,<2.1
wcwidth 
zipp 
